/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif !important;
}

html {
	scroll-behavior: smooth;
}
p {
	font-size: 20px;
}

.navigat {
	background-color: #1D3557 !important;
	color: white !important;
}

.firstSect {
	background-color: #457B9D;
}

.secondSect {
	background-color: #a8dadc;
	color: #457B9D !important;
}

.thirdSect {
	background-color: #f1faee;
	color: black !important;
	min-height: calc(100vh - 30px);
}

.contactForm {
	background-color: #a8dadc;
}

.footer {
	background-color: #1D3557 !important;
	position: static;
	bottom: 0;
	height: 30px;
	width: 100%;
	color: white;
}
a:link {
	text-decoration: none !important;
	color: white !important;
}

.sideBar {
  position: fixed;
  right: 1%;
  bottom: 50%;
  z-index: 500;
}

.socicon {
  width: 2rem;
  height: 2rem;
}