/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-size: 20px;
}

body {
	font-family: 'Lato', sans-serif !important;
}

.navigat {
	background-color: #1D3557 !important;
	color: white !important;
}

.firstSect {
	background-color: #457B9D;
}

.secondSect {
	background-color: #a8dadc;
	color: #457B9D !important;
}

.thirdSect {
	background-color: #f1faee;
	color: black !important;
}

a:link {
	text-decoration: none !important;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}